/* 위로 가기 버튼 구현 */
/* 추가기능 목적: 애플 공식 홈페이지의 고객지원 페이지는 본문 내용이나 목록 페이지가 상당히 
긴 편임에도 불구하고 헤더나 푸터, 즉 페이지의 최상단이나 최하단에 내려가야지만 nav bar를 찾을 수 있다.
그래서 사용자가 해당 페이지의 내용을 확인하다가 이 페이지를 빠져나가 다른 페이지로 이동을 원할 때, 페이지의 
마우스 스크롤을 페이지의 최상단 또는 최하단으로 끝까지 스크롤 해야하는 번거로움/불편함을 완화하고자 만들게 된 버튼이 
바로 (버튼 클릭만으로 페이지 상단 또는 하단으로 이동하는) 버튼이다. */

/* common css */
body{
  position: relative;
}

button{
  position: fixed;
  right: 20px;
	z-index: 10000000;   /* 항상 위에 둥둥 떠있게! */
	border: none;
	border-radius: 5px;
	/* 원래는 안보이게 했다가...  */
	padding: 2px;
	width: 36px; 
	height: 36px;
}
button:hover{
	/* background-color: rgb(217, 217, 217); */
	transition: ease 0.5s;
	box-shadow: -1px -1px 1px 1px rgba(202, 202, 202, 0.437), 1px 1px 1px 1px rgba(178, 178, 178, 0.718);
}




/* 위로 가기 버튼 */
.to-top-btn{
  bottom: 60px;
	margin-bottom: 12px;
}

/* 아래로 가기 버튼 */
.to-bottom-btn{
	bottom: 30px;
}


/* p 태그 */
p {
	text-indent: 10px; 
	text-align: justify;
}



